@import url(https://fonts.googleapis.com/css?family=Montserrat);
body, html {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100%;
}
.topo, .bg-historia{
    width: 100%;
    position: relative;
    height: 500px;
    background: radial-gradient(circle,  #FBB600, #DA5900);
    color: black;
    border-bottom: 1px solid #db8300;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-historia{    
    height: auto;    
}

/*---- Navegação ----*/

#mainNav{       
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;        
    transition: all 1s ease;  
}
.affix {
    background-color: #DA5900 !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    padding: linear;
    font-size: 1rem;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: #fff !important;
}

.affix a {
    color: #fff !important;
}

.affix button {
    color: #fff !important;
    border: 1px solid #fff !important;
}

#mainNav a {
    color: #000;
}

#mainNav button {
    color: #000;
    border: 1px solid #eb8303;
}

#beerCanvas, #beerCanvas2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.coming_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;
    color: white;
    text-align: center;
    z-index: 101;
}
.coming_content h1 {
    font-size: 5.625em;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}
.coming_content .separator_container {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    margin: 12px 0;
}
.coming_content .separator_container:before, .coming_content .separator_container:after {
    display: table;
    content: "";
}
.coming_content .separator_container:after {
    clear: both;
}
.coming_content .separator {
    color: black;
    margin: 0 auto 1em;
    width: 11em;
}
.coming_content .line_separator svg {
    width: 30px;
    height: 20px;
}
.coming_content .line_separator:before, .coming_content .line_separator:after {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 14px;
    border: 1px solid black;
}
.coming_content .line_separator:before {
    float: left;
}
.coming_content .line_separator:after {
    float: right;
}
.coming_content h3 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #000;
}
.coming_content h3 a {
    text-decoration: underline;    
}